* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a3b2c7;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

#game-container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

h1, h2 {
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.header {
    font-size: 40px;
}

#restart-btn {
    margin-bottom: 20px;
}

#restart-btn:hover {
    background-color:  #3785b8;
  }

#scores {
    display: flex;
    justify-content: space-evenly;
}

.score {
    width: 100%;
    color: #fff;
}

.score h3 {
    font-weight: 400;
}

#player-score {
    background: #333;
}

#computer-score {
    background: #0000ff;
}

#items-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer; 
    border: 2px solid #333;
    border-radius: 50%;
    padding: 10px;
    background: #3785b8;
}

#rock:hover,
#paper:hover,
#scissors:hover {
        -moz-transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        
}

#rock, #paper, #scissors {
	-webkit-transition: all 0.70s ease-in-out;
	-moz-transition: all 0.70s ease-in-out; 
	transition: all 0.70s ease-in-out;
}

.won, .lost, .draw {
    font-size: 45px;
    font-family: monospace;
    width: 100%;
}

.won {
    background: #97db98;
}

.won:after {
    content: 'You are Victorious!';
}

.lost { 
    background: #d81850;
}

.lost:after {
    content: 'Ouch.. You have lost :-(';
}

.draw {
    background: lightpink;
}

.draw:after {
    content: 'Oh well, it\'s a draw';
}
